@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Condensed+One&display=swap');

body {
    font-family: 'Special Gothic Condensed One', ;
      
    background-size: cover no-repeat ;
}

.navbar {
    padding: 1rem;
    font-family: 'Special Gothic Condensed One', ;
    background-color: #f7f0ca ;
}

#Hero-Section {
    background: url('../img/fondo\ 2.png') no-repeat center center/cover border-box;
    opacity: 0.9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-family: 'Special Gothic Condensed One', ;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);}

#Acerca-de-mi {


    font-family: 'Special Gothic Condensed One', ;

}


footer {
    background-color: #f7f0ca ;
    text-align: center;
    padding: 1rem;
    font-family: 'Special Gothic Condensed One', ;
}